<p>
  <strong>Title:</strong>
  <%= @secondseason.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @secondseason.text %>
</p>

<%= link_to 'Back', secondseasons_path %>
| <%= link_to 'Edit', edit_secondseason_path(@secondseason) %>
